
.root {
  display: flex !important;
  align-items: center !important;
  flex-basis: 420px !important;
  width: 100% !important;
  box-shadow: none !important;
  border: 1px solid #c4c4c4 !important;
  border-radius: 50px !important;
}

