/* Default Variables */
$primary-color: #0165b1 !default;
$secondary-color: #000000 !default;

$white-color: #ffffff;
$ash_color: #F1F5FB !default;
$dark_color: #1d1d1d !default;
$error-color: #d32f2f !default;
$warning-color: #FF6600 !default;
$yellow: #FFC008 !default;
$box-shadow: rgba(0, 0, 0, .06) 0 10px 50px !important;
$web-kit-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
