@import "../../../../assets/StyleSheets/variable";

.rs-sidenav-item-active {
  color: $primary-color !important;
}

.rs-dropdown-item-active {
  color: $primary-color !important;
}

.rs-sidenav-nav .rs-dropdown .rs-dropdown-toggle {
  font-size: 16px !important;
  color: #000;
  font-weight: bold !important;
  background-color: rgb(238, 239, 239) !important;
}

.rs-sidenav-default .rs-sidenav-default {
  background-color: transparent !important;
}

.rs-sidenav-body{
  background-color: rgb(238, 239, 239) !important;
}
